{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h3>Our Article List</h3>
  {% for article in articles %}
    <div class="card">
      <div class="card-header">
          <a class="font-weight-bold" href="{{ article.get_absolute_url }}">{{article.title }}</a> &middot;
        <span class="text-muted">by {{ article.author }} |
        {{ article.publish }}</span>
      </div>
      <div class="card-body">
        {{ article.body|truncatewords:30|linebreaks }}
      </div>
        <div class="card-footer">
        <a class="btn btn-primary btn-sm" href="{{ article.get_absolute_url }}">View article</a>
        {% if request.user == article.author %}
            <a href="{% url 'article_edit' article.id %}">Edit</a> |
            <a href="{% url 'article_delete' article.id %}">Delete</a> |
            <a href="{% url 'comment_new' article.id %}">Add Comment</a> |
            <a href="{{ article.get_absolute_url }}">View Comments</a>
        {% else %}
            <a href="{% url 'comment_new' article.id %}">Add Comment</a> |
            <a href="{{ article.get_absolute_url }}">View Comments</a>
        {% endif %}
        </div>
    </div>
    <br />
  {% endfor %}
  </p>
</div>
{% endblock content %}
