{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Article Detail - {{ article.title }}{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p class="text-muted">posted by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.body }}</p>
  </div>
  <div class="card-footer">
    {% for comment in object.comments.all %}
      <p>
      <ul>
        <span class="font-weight-bold">
            <li><a href="{% url 'comment_detail' comment.pk %}"i>{{ comment }}</a> &middot;
        </span>
        <span class="text-muted">by {{ comment.author }} &middot; {{ comment.date }}</span>
      </ul>
      </p>
    {% empty %}
      <p class="text-muted"><em>No comments have been posted yet.</em></p>
    {% endfor %}
  </div>

  <p>
      {% if request.user == article.author %}
        <a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk %}">Delete</a> |
        <a href="{% url 'comment_new' article.pk %}">Add Comment</a></p>
      {% else %}
        <a href="{% url 'comment_new' article.pk %}">Add Comment</a></p>
      {% endif %}
  <p>Back to <a class="btn btn-primary" href="{% url 'article_list' %}">&laquo; All Articles</a></p>
  </p>
</div>
{% endblock content %}
