{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ view.action|default:"Add" }} Book Review{% endblock title %}

{% block content %}
{% with action=view.action|default:"Add" %}
<div class="container">
  <p>
  <h2>{{ action }} a Review</h2>
  <form class="col-md-6" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
    <a class="btn btn-info" href="javascript:window.history.back()">Cancel</a>
  </form>
  </p>
</div>
{% endblock content %}
